<div class="timezoneSection">
  <select id="${id}TimezoneRegionSelector" dojoAttachPoint="timezoneRegionSelector" class="timezoneRegionSelector"
          dojoAttachEvent="onchange: tzRegionOnChange">
    <option value="">${l10n.noTzRegion}</option>
    <option value="Africa">${l10n.africa}</option>
    <option value="America">${l10n.america}</option>
    <option value="Asia">${l10n.asia}</option>
    <option value="Antarctica">${l10n.antarctica}</option>
    <option value="Atlantic">${l10n.atlantic}</option>
    <option value="Australia">${l10n.australia}</option>
    <option value="Europe">${l10n.europe}</option>
    <option value="Indian">${l10n.indian}</option>
    <option value="Pacific">${l10n.pacific}</option>
  </select>
  <select id="${id}TimezoneIdSelector" dojoAttachPoint="timezoneIdSelector" class="timezoneIdSelector"></select>
</div>
